@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&family=Montserrat:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #EDEDED;
}

body {
    max-width: 1080px;
    margin: 0 auto;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button:active, button:visited, button:focus, button:focus-visible {
    outline: none;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

header > img {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    align-self: center;
}

header > h1 {
    margin-top: 300px;
    letter-spacing: 24px;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
}

header > p {
    margin-top: 4px;
    font-weight: 700;
}

.divider {
    margin: 8px auto;
    border-top: 5px solid black;
    width: 40%;
}

.container {
    width: 100%;
    margin: 32px 0;
}

#toggle-section {
    width: 99%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#add-new-book:focus {
    outline: none;
}

#add-new-book {
    background-color: white;
    padding: 16px 24px;
    border: 2px dashed black;
}

#add-new-book:hover {
    border: 2px dashed #5FCC63;
    color: #5FCC63;
    cursor: pointer;
}

#plus-close-btn {
    position: absolute;
    z-index: 2;
    right: -10px;
    top: -10px;
    transform: rotate(-90deg);
    transition: transform 1s ease;
    overflow: visible;
}

#add-new-book:hover + #plus-close-btn > circle  {
    stroke: #5FCC63;
}

#add-new-book:hover + #plus-close-btn > path {
    fill: #5FCC63;
}

.close {
    transform: rotate(-45deg) !important;
}

.close:hover > circle {
    stroke: #F44336;
}
.close:hover > path {
    fill: #F44336;
}

.close:hover + #input-field {
    border: 2px solid #F44336;
}

#input-field {
    display: none;
    width: 100%;
    border: 2px solid black;
    background-color: white;
    padding: 24px;
    justify-content: space-between;
}

#input-field > * {
    padding: 8px;
}

.input-block > input {
    margin-top: 4px;
    height: 16px;
    width: 175px;
    border: 2px solid black;
}

#radio-btns {
    margin-top: 4px;
    display: flex;
    align-items: center;
}

#radio-btns > label {
    margin-left: 4px;
}

#no {
    margin-left: 8px;
}

#submit {
    background-color: white;
    color: #5FCC63;
    border: 2px solid #5FCC63;
    margin: 8px 0;
    padding: 0 32px;
}

#submit:hover {
    background-color: #5FCC63;
    color: white;
    cursor: pointer;
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 80px;
    justify-content: center;
}

.book {
    border: 2px solid black;
    background-color: white;
    padding: 16px 24px;
    position: relative;
    height: fit-content;
}

.title {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
}

.author, .pages {
    font-size: 14px;
    font-weight: 600;
}

.row2 {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #626262;
}

.toggleBtn, .deleteBtn {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.toggleBtn {
    top: -11px;
}

.deleteBtn {
    bottom: -12px;
}

.toggleBtn:hover {
    border: 2px solid #5FCC63;
    transform: rotate(15deg);
}

.toggleBtn:hover .tick {
    fill: #5FCC63;
}

.deleteBtn:hover {
    border: 2px solid #F44336;
    transform: rotate(15deg);
}

.deleteBtn:hover .bin {
    fill: #F44336;
}

.deleteBtn:hover .book {
    border: 2px solid #F44336;
}

.read {
    background-color: #5FCC63;
    border: none;
}

.read:hover {
    border: 2px solid #5FCC63;
    background-color: white;
}

.read .tick {
    fill: white;
}